
@media screen and (max-width: 1024px) {
    .nav {
        width: 149%;
        height: 430px;
        background: #F3F2F0;
}
.nav .container .logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
      color: #000;
     display: block;
     line-height: 80px;
     margin-left: 230px;
 }
 
#service {
    width: 149%;
    height: auto;
    background: #FAFAFA;
    position: relative;
}
#service h1{
    margin: auto;
}

.portfolio{
    width: 149%;
    height: 800px;
    background: #F4F4F4;
    position: relative;
}
.banner{
    width: 149%;
    height: 300px;
    background: #FAFAFA;
 }
 .profile{
    width: 149%;
    height: 800px;
    background: #F4F4F4;
 }
 .profile .designer .profile-title{
    width: 300px;
    height: 200px;
    margin: 0px 0px 0px 620px;
 }
 .profile .designer .proface{
    width: 100px;
    height: 100px;
    border: solid 5px white;
    border-radius: 120px;
    margin: 40px 0px 0px 718px; }
 .profile .designer .design_span1{
    width: 800px;
    height: 200px;
    margin: 70px 0px 0px 370px;
    line-height: 25px;
 }
 .profile .designer b {
    padding-left: 10px;
}
.profile .designer p {
    padding-left: 10px;
}
 .footer{
    width: 149%;
    height: 200px;
    margin-top: 60px;
}
.dead{
    width: 149%;
    height: 100px;
}
    }
