@media screen and (max-width: 320px) {
   .nav {
           width: 230%;
           height: 870px;
           background: #F3F2F0;
           flex-direction: column;
           align-items: flex-start;
   }
   .nav img{
     margin-left: 100px;
   }
   .toggle-button {
      
      left: 42rem;
      
  }
   .container{
       width: 0px;
   }
   .nav .container .logo a{
      margin-left: 40px;
   } 
   .toggle-button{
       display: flex;
   }
   .menu{
       display: none;
       width: 100%;
   }
   .menu ul{
       flex-direction: column;
       width: 100%;
   }
   .menu.active{
       display: flex;
   }
   .nav .container .logo{
       margin-right: 20px;
   }
   .nav .text-menu1{
       margin: 90px 230px 0px 0px;
       align-items: center;
   }
   .menu ul li{
       background: rgb(231, 40, 40);
       text-align: center;
       padding-top: 44px;
       opacity: 0.5;
   }
   .nav .container .menu ul li a.design{
       margin: 30px 0px 20px 280px;
       border: solid 1px greenyellow;
       background: white;
   } 
   .portfolio{
       width: 230%;
       height: auto;
       background: #F4F4F4;
       position: relative;
   }
   .portfolio .container{
       flex-direction: column;
       width: 50%;
       display: grid;
       grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
   }
   .portfolio .container .img1{
       width: 300px;
       height: 250px;
       
   }
   .portfolio .container .img1 img{
      width: 100%;
      height: 100%;
      transition: 1;
   }
   .portfolio .container .img2{
       width: 300px;
       height: 250px;
       display: flex;
       box-sizing: border-box;
       overflow: hidden;
       margin: 0px 0px 0px 350px;
   }
   .portfolio .container .img2 img{
       width: 100%;
       height: 100%;
       transition: 1;
    }
   .portfolio .container .img3{
       width: 300px;
       height: 250px;
       box-sizing: border-box;
       overflow: hidden;
   }
   .portfolio .container .img3 img{
       width: 100%;
       height: 100%;
       transition: 1;
    }
   .portfolio .container .img4{
       width: 300px;
       height: 250px;
       position: absolute;
       margin-top: 40px;
       box-sizing: border-box;
       overflow: hidden;
   }
   .portfolio .container .img4 img{
       width: 100%;
       height: 100%;
       transition: 1;
    }
   .portfolio .container .img5{
       width: 300px;
       height: 250px;
       margin: 0px 0px 0px 350px;
       position: absolute;
       margin-top: 40px;
       box-sizing: border-box;
       overflow: hidden;
   }
   .portfolio .container .img5 img{
       width: 100%;
       height: 100%;
       transition: 1;
    }
   .portfolio .container .img6{
       width: 300px;
       height: 250px;
       margin: 0px 0px 0px 700px;
       margin-top: 40px;
       box-sizing: border-box;
       overflow: hidden;
   }
   .portfolio .container .img6 img{
       width: 100%;
       height: 100%;
       transition: 1;
    }
    #service {
       width: 230%;
       height: auto;
       background: #FAFAFA;
       position: relative;
   }
   .service__list {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
   }
   .service__list li{
       list-style: none;
       padding: 0px 0px 50px 0px;
   }
   .service__list li hr{
       width: 70px;
       margin-left: 15px;
   }
   .banner{
       width: 230%;
       height: auto;
       background: #FAFAFA;
    }
    .banner .container{
       width: 100%;
    }
    .banner .container .banner-text{
       text-align: center;
    } 
    .banner .container button{
       float: none;
       margin: 40px 0px 40px 285px;
    } 
    .profile{
       width: 230%;
       height: auto;
       background: #F4F4F4;
    }
    .profile .designer .profile-title{
       margin: 0px 0px 0px 230px;
    }
    .profile .designer b{
       margin: 0px 50px 0px 0px;
    }
    .profile .designer p{
       margin: 0px 50px 0px 0px;
    }
    .profile .designer .proface{
       width: 100px;
       height: 100px;
       border: solid 5px white;
       border-radius: 120px;
       margin: 40px 0px 0px 325px; }
    .profile .designer .design_span1{
       width: 100%;
       height: auto;
       margin: 60px 0px 0px 0px;
       line-height: 25px;
    }
    .profile .designer form{
       margin: 40px 0px 0px 0px;
    }
    .footer{
       width: 230%;
       height: 220px;
       margin-top: 60px;
   }
   .footer .container{
       width: 100%;
   }
   .footer .container .iconlink{
       margin: 50px 15px 0px 0px;
   }
   .footer .container .menu2 ul{
       margin: 0px 0px 0px 200px;
   }
   .footer .container .form-search{
       margin-right: 135px;
   }
   .dead{
       width: 230%;
       height: auto;
   }}