@media screen and (max-width: 769px) {
    .nav {
        width: 100%;
        height: 870px;
        background: #F3F2F0;
        flex-direction: column;
        align-items: flex-start;
    }
    .container{
        width: 50%;
     }
    .toggle-button{
        display: flex;
     }
    .menu{
        display: none;
        width: 100%;
    }
    .menu ul{
        flex-direction: column;
        width: 100%;
    }
    .menu.active{
        display: flex;
    }
    .nav .container .logo{
         margin-right: 20px;
    }
    .nav .text-menu1{
         margin: 90px 230px 0px 0px;
         align-items: center;
    }
    .menu ul li{
         background: rgb(231, 40, 40);
         text-align: center;
         padding-top: 44px;
        opacity: 0.5;
        font-size: 20px;
    }
    .menu ul li:hover{
        background: white;
   }
    .nav .container .menu ul li a.design{
         margin: 30px 0px 20px 305px;
         border: solid 1px greenyellow;
         background: white;
    } 
    .portfolio{
        width: 100%;
        height: auto;
        background: #F4F4F4;
        position: relative;
    }
    .portfolio .container{
         flex-direction: column;
         width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    }
    #service {
        width: 100%;
        height: auto;
        background: #FAFAFA;
        position: relative;
    }
    .service__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .service__list li h2::after{
        content: '';
        position: relative;
        display: block;
        text-align: center;
        margin: 1em auto 0;
        width: 70px;
        height: 2px;
        background-color:red;
        padding: 0px 0px 0px 0px;
}
    .banner{
        width: 100%;
        height: auto;
        background: #FAFAFA;
    }
    .banner .container{
        width: 100%;
    }
    .banner .container .banner-text{
        text-align: center;
    } 
    .banner .container button{
         float: none;
         margin: 40px 0px 40px 285px;
    } 
    .profile{
        width: 100%;
        height: auto;
        background: #F4F4F4;
    }
    .profile .designer .profile-title{
        margin: 0px 0px 0px 230px;
    }
    .profile .designer b{
        margin: 0px 50px 0px 0px;
    }
    .profile .designer p{
        margin: 0px 50px 0px 0px;
     }
    .profile .designer .proface{
        width: 100px;
        height: 100px;
        border: solid 5px white;
        border-radius: 120px;
        margin: 40px 0px 0px 325px; }
    .profile .designer .design_span1{
        width: 100%;
        height: auto;
         margin: 60px 0px 0px 0px;
         line-height: 25px;
    }
    .profile .designer form{
        margin: 40px 90px 0px 0px;
    }
        .footer{
        width: 100%;
        height: 220px;
        margin-top: 60px;
    }
    .footer .container{
         width: 100%;
    }
    .footer .container .iconlink{
         margin: 50px 15px 0px 0px;
    }
    .footer .container .menu2 ul{
         margin: 0px 0px 0px 200px;
    }
    .footer .container .form-search{
        margin-right: 135px;
    }
    .dead{
        width: 100%;
        height: auto;
     }
    }
    @media screen and (max-width: 320px) {
        .nav {
            width: 229%;
            height: 870px;
            background: #F3F2F0;
            flex-direction: column;
            align-items: flex-start;
        }
        .container{
                width: 50%;
         }
        .toggle-button{
            display: flex;
            left: 41rem;
         }
        .menu{
            display: none;
            width: 100%;
        }
        .menu ul{
            flex-direction: column;
            width: 100%;
        }
        .menu.active{
            display: flex;
        }
        .nav .container .logo{
             margin-right: 20px;
        }
        .nav .text-menu1{
             margin: 90px 230px 0px 0px;
             align-items: center;
        }
        .menu ul li{
             background: rgb(231, 40, 40);
             text-align: center;
             padding-top: 44px;
            opacity: 0.5;
            font-size: 20px;
        }
        .menu ul li:hover{
            background: white;
       }
        .nav .container .menu ul li a.design{
             margin: 30px 0px 20px 305px;
             border: solid 1px greenyellow;
             background: white;
        } 
        .portfolio{
            width: 229%;
            height: auto;
            background: #F4F4F4;
            position: relative;
        }
        .portfolio .container{
             flex-direction: column;
             width: 50%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        }
        #service {
            width: 229%;
            height: auto;
            background: #FAFAFA;
            position: relative;
        }
        .service__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .banner{
            width: 229%;
            height: auto;
            background: #FAFAFA;
        }
        .banner .container{
            width: 100%;
        }
        .banner .container .banner-text{
            text-align: center;
        } 
        .banner .container button{
             float: none;
             margin: 40px 0px 40px 285px;
        } 
        .profile{
            width: 229%;
            height: auto;
            background: #F4F4F4;
        }
        .profile .designer .profile-title{
            margin: 0px 0px 0px 230px;
        }
        .profile .designer b{
            margin: 0px 0px 0px 0px;
        }
        .profile .designer p{
            margin: 0px 0px 0px 0px;
         }
        .profile .designer .proface{
            width: 100px;
            height: 100px;
            border: solid 5px white;
            border-radius: 120px;
            margin: 40px 0px 0px 325px; }
        .profile .designer .design_span1{
            width: 100%;
            height: auto;
             margin: 60px 0px 0px 0px;
             line-height: 25px;
        }
        .profile .designer form{
            margin: 40px 45px 0px 0px;
        }
            .footer{
            width: 229%;
            height: 220px;
            margin-top: 60px;
        }
        .footer .container{
             width: 100%;
        }
        .footer .container .iconlink{
             margin: 50px 15px 0px 0px;
        }
        .footer .container .menu2 ul{
             margin: 0px 0px 0px 200px;
        }
        .footer .container .form-search{
            margin-right: 135px;
        }
        .dead{
            width: 229%;
            height: auto;
         }
        }