:root {
    --poppins: 'Poppins', Roboto, Helvetica, Arial, sans-serif;
    --primary-color: #1769ff;
    --base-text-color: #777;
    --heading-color: #333;
}
, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--base-text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}
a {
    text-decoration: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--heading-color);
}
/**
 * COMMON CLASSES
 */
.container {
    width: 100%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.btn {
    min-width: 200px;
    line-height: 1;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #333;
    border: 2px solid #333;
}
.btn.btn-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #fff;
}
.btn.btn-primary.outline {
    background-color: transparent;
    color: var(--primary-color);
}
.nav {
    list-style: none;
    margin-left: auto;
}
.nav ul li {
    list-style: none;
    display: inline;
}

/**
 * HEADER & MAIN VISUAL
 */
#header {
    height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
    top: 10%;
    width: 100%;
}
#header .container {
    display: flex;
    align-items: center;
}
.logo {
    min-width: 120px;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 32px;
    color: #000;
    text-shadow: 2px 5px 5px rgba(15,15,15,0.16);
}
#header .nav li a {
    font-family: var(--poppins);
    color: #333;
    margin-right: 50px;
}
#header .nav a {
    font-size: 20px;
}
#hireme {
    font-size: 20px;
    width: auto;
    min-width: auto;
    padding: 18px 30px;
}
.mv {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(../image/mv.jpg) left bottom no-repeat;
    background-color: #f4f2f0;
    background-size: 105%;
}
.mv .container {
    display: flex;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.mv-text {
    width: 50%;
    transition: transform .5s ease-in-out;
}
.mv-text h1 {
    font-size: 48px;
}
.mv-text .mv-btn {
    box-shadow: 2px 5px 16px rgba(23,105,255,.2);
}
@media screen and (min-width: 1600px) {
    .mv-text {
        transform: translateX(40%);
    }
}
@media screen and (max-width: 1170px) {}
@media screen and (max-width: 769px) {
    .mv-text {
        width: 100%;
        text-align: center;
    }
}