:root {
    --poppins: 'Poppins', Roboto, Helvetica, Arial, sans-serif;
    --primary-color: #1769ff;
    --base-text-color: #777;
    --heading-color: #333;
}
::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--base-text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--heading-color);
}
/**
 * COMMON CLASSES
 */
.container {
    width: 100%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.pc {
    display: block;
}
.sp {
    display: none;
}
.btn {
    min-width: 200px;
    line-height: 1;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #333;
    border: 2px solid #333;
}
.btn.btn-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #fff;
}
.btn.btn-primary.outline {
    background-color: transparent;
    color: var(--primary-color);
}
.btn:hover {
    opacity: 0.75;
}
.nav {
    list-style: none;
    margin-left: auto;
}
.nav ul {
    padding: 0;
    margin: 0;
}
.nav ul li {
    list-style: none;
    display: inline;
}

#header{
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    background-color: #262626;
}
#header .container {
    display: flex;
}
.header-text{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
.header-text p{
    font-size: 50px;
    text-align: center;
    color: white;
    border: solid 1px #323232;
    padding-top: 5%;
    padding-bottom: 8%;
}
.header-text span{
    color: yellow;
}
.header-nav {
    margin-top: auto;
    align-items: center;
    text-align: center;
}
.header-nav ul li{
    padding-right: 1%;
}
.header-nav ul li a{
    color: white;
}
#main section{
    padding: 70px 0;
    position: relative;
}
#service{
    background: #202020;
}
.service-title{
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
    color: white;
}
.txt_design{
    color: white;
}
.service-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.service-list li {
    padding: 30px;
    margin: 15px;
}
.service-list li a{
   font-size: 12px;
   color: white;
}
#project{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171717;
}
.one{
    position: absolute;
    z-index: 3;
    font-size: 50px;
    color: white;
    margin-top: 3%;
}
.img-slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 50px 0px 0px 170px;
    background: #1D212B;
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    min-width: 0px;
    padding: 2px 30px;
    margin: 6px;
    border: solid 2px white;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
.view{
    width: 12%;
    float: right;
    margin-top: -6%;
    text-align: left;
   
}
.view a{
    color: white;
}

#amazing{
    background: #1F1F1F;
}
.amazing-title{
    font-size: 40px;
    text-align: center;
    color: white;
}
#amazing .container-box{
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(152px,1fr));
    padding: 120px;
}
#amazing .container-box .box{
    width: 80px;
    height: 50px;
    position: relative;
    overflow: hidden;
}
#amazing .container-box .box img{
    width: 100%;
    height: 100%;
    transition: 1; 
}
.box img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
#amazing .container-slide{
    width: 100%;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
#amazing .container-slide .img-slider{
    background: #161616;
    width: 700px;
    height: 400px;
    margin-left: 20%;
}
#amazing .container-slide .img-slider p{
    text-align: center;
    margin-left: 18%;
}
.khung{
    background: white;
    width: 50px;
    height: 50px;
    margin-left: 45%;
}
#team{
    background: #181818;
}
.team-title{
    font-size: 40px;
    text-align: center;
    color: white;
}
#team .container{
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(232px,1fr));
    padding: 120px;
}
#team .container p{
    color: white;
    text-align: left;
}
#team .container .song{
    height: 350px;
    position: relative;
    text-align: center;
}
#team .container .song .cicle{
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50px;
    margin-left: 35%;
    margin-top: 30%;
}
#team .container .song h1{
    color: rgb(255, 132, 0);
    font-size: 25px;
}
#team .container .song p{
    color: white;
    font-size: 15px;
    text-align: center;
}
  
  @media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }